.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y:hidden;
}

.aboutmediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery{
    display: flex;
    flex-direction: column;
}


.bubbleDiv{
    background: none;
}

.bubble{
    background: none;
    width: 52.083333333333336vw;
    height: 101.01010101010101vh;
    position: absolute;
    z-index: -1;
}

.aboutmeText{
    width: 800px;
    color: #BFADF1;
    line-height: 4vh;
    font-size: 1.25em;
    background: none;
    position: relative;
    margin-top: 10rem;
    right: 7rem;
    z-index: 1;
}

.stock{
    height: 44.19191919191919vh;
    width: 22.786458333333332vw;
}