.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
  }
  
  .aboutmediv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .gallery {
    display: flex;
    flex-direction: column;
  }
  
  .bubbleDiv {
    background: none;
    width: 65vw;
    height: auto;
    margin-right: 2vw;
    position: relative; /* Add this line to establish a positioning context */
  }
  
  .bubbleBackground {
    margin: 10px;
    background: url("/Buble.svg") center/cover no-repeat;
    width: 85%;
    height: 85%;
    position: absolute;
  }
  
  .aboutmeText {
    color: #bfadf1;
    line-height: 4vh;
    font-size: 1.15em;
    background: #00000000;
    right: 7rem;
    top: 10vh;
    position: absolute;
  }
.stock{
    height: 44.19191919191919vh;
    width: 22.786458333333332vw;
}