@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

:root{
  --pcolor : #4B59FD;
}

*{
  margin: 0;
  padding: 0;
  background: #202020;
  font-family: 'Allerta', sans-serif;
  overflow-x: hidden;
}

p, h1,h2,h3,h4,h5,h6 {
  background: none;
}